:root{
    --Very_Dark_Gray: hsl(0, 0%, 17%);
    --Dark_Gray: hsl(0, 0%, 59%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif;
}
body{
    background-color: hsl(0, 1%, 69%);
}
.hero{
    background-image: url("images/pattern-bg-desktop.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 24px;
    position: relative;
    height: 260px;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px;
}

form input{
    outline: none;
    width: 500px;
    height: 50px;
    border-radius: 10px 0 0 10px;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    color: hsl(0, 0%, 22%);
}

form button{
    width: 50px;
    height: 50px;
    border-radius:0 10px 10px 0;
    border: none;
    background-color: var(--Very_Dark_Gray);
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}

.result-box{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: white;
    padding: 32px 16px;
    border-radius: 10px;
    z-index: 1;
}
.result{
    padding-left: 32px;
    padding-right: 64px;
}
.result p{
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--Dark_Gray);
    margin-bottom: 8px;
}

.result h3{
    margin-top: 16px;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--Very_Dark_Gray);
}

.vertical-line{
    border-left: 1px solid var(--Dark_Gray);
    height: 50px;
    margin: 0 16px;
}

#map{
    height: 550px;
    z-index: 0;
    margin-bottom: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrolbar_hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrolbar_hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
footer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.attribution{
    font-size: medium;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.attribution a{
    font-size: medium;
    text-decoration: none;
}
.attribution a:hover{
    color: hsl(228, 45%, 44%);;
}
.attribution a i {
    transition: transform .2s; /* Animation */
}
.attribution a i:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@media only screen and (max-width: 648px){
    .hero{
        background-image: url("images/pattern-bg-mobile.png");
        padding: 16px;
        height: 300px;
    }
    h1{
        font-size: 1.5rem;
    }
    form input{
        width: 275px;
        height: 50px;
        padding-left: 1rem;
        font-size: 1rem;
    }
    
    form button{
        width: 50px;
        height: 50px;
        font-size: 1rem;
    }
    .result-box{
        flex-direction: column;
        justify-content: center;
        padding: 16px 16px 0;
        border-radius: 15px;
        width: 300px;
    }
    .result{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
        padding: 0 16px;
    }
    .vertical-line{
        display: none;
    }
    .result p{
        font-size: 12px;
        margin-bottom: 4px;
    }
    
    .result h3{
        margin-top: 4px;
        font-size: 1.2rem;
    }
    #map{
        height: 350px;
    }
}